.home-page{
	width: 100%;

	.vanta-bg { //🔥这一层是 Card 的父元素
		padding: 0rem 3.5rem 3.5rem 3.5rem;//上的空间交给 titlebar 来控制
		// overflow-x:hidden; //⚡️不能设置，父元素设置后子元素的 sticky 就不生效了
		position: relative;
	}
}
