.main-miguFeedUI-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 80px 124px;
	z-index: 2;

	.migufeedUI-main-container {
		display: flex;
		width: 100%;
		max-width: 1500px;
		height: auto;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		flex-direction: row;
		padding: 0 112px;
		gap: 48px;

		// 左侧描述
		.migufeedUI-left-container {
			display: flex;
			width: 380px;
			height: auto;
			flex-direction: column;
			gap:  80px;
			box-sizing: border-box;
			transform: translateY(40px);

			// 子子层级的共同属性
			.miguFeedUI-left-miguMall, 
				.miguFeedUI-left-popUp {
					display: flex;
					width: 280px;
					height: auto;
					align-items: start;
					flex-direction: column;
					box-sizing: border-box;
					gap:  12px;

					> p {
						margin: 0;
						padding: 0;
						text-align: left;
					}

					// 第一个子元素
					> p:first-child {
						width: 100%;
						font-family: GT Eesti Pro Text;
						font-weight: 500;
						line-height: 28px;
						letter-spacing: 0em;
						text-align: left;
						font-size: 24px;
						font-weight: 500;
						color:  rgb(255, 255, 255);
					}

					// 第二个子元素
					> p:nth-child(2) {
						width: 100%;
						font-family: GT Eesti Pro Text;
						line-height: 28px;
						letter-spacing: 0em;
						text-align: left;
						font-size: 14px;
						font-weight: 300;
						color:  rgba(185, 213, 254, 1);
					}
				}

			// 左上
			.leftTop-withLineContainer {
				width: 100%;
				position: relative;

				.migu-leftTop-line { //线
					position: absolute;
					right: -80px;
				}

			}

			// 左中
			.leftMedium-withLineContainer {
				width: 100%;
				position: relative;
				transform: translateY(60px);

				.migu-leftMedium-line{ //线
					position: absolute;
					right: -80px;
				}
			}

			// 左下评论图
			> img {
				width: 220px;
			}
		}

		// 中间 feed UI
		.mainFeedUI-pic {
			width: 280px;
			z-index: 2;
		}

		// 右侧描述
		.migufeedUI-right-container {
			display: flex;
			width: 380px;
			height: auto;
			flex-direction: column;
			gap:  80px;
			box-sizing: border-box;
			align-items: flex-end;

			// 子子层级的共同属性
			.miguFeedUI-right-coreCategory,
			.miguFeedUI-left-funShot {
				display: flex;
				width: 280px;
				height: auto;
				flex-direction: column;
				box-sizing: border-box;
				gap: 12px;

				> p {
					margin: 0;
					padding: 0;
					text-align: left;
				}

				// 第一个子元素
				> p:first-child {
					width: 100%;
					font-family: GT Eesti Pro Text;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					font-size: 24px;
					font-weight: 500;
					color:  rgb(255, 255, 255);
				}

				// 第二个子元素
				> p:nth-child(2) {
					font-family: GT Eesti Pro Text;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					font-size: 14px;
					font-weight: 300;
					color:  rgba(185, 213, 254, 1);
				}
			}

			// 右上
			.rightTop-withLineContainer {
				width: 100%;
				position: relative;
				display: flex;
				justify-content: flex-end;
				transform: translateY(72px);

				.migu-rightTop-line { //线
					position: absolute;
					left: -80px;
				}
			}

			// 右中
			.rightMedium-withLineContainer {
				width: 100%;
				position: relative;
				display: flex;
				justify-content: flex-end;
				transform: translateY(230px);

				.migu-rightMedium-line { //线
					position: absolute;
					left: -80px;
				}
			}

			// 右下
			> img {
				width: 320px;
				transform: translate(-20px, 120px);
			}
		}
	}


	.main-miguFeedUI-linearBg {
		position: absolute;
		width: 1120px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
}