@import '../../../../../design/color/Global.less'; //引入全局样式库

// less 类 控制动画变量
@keyframes slideOne {
	0% {
		left: 120px;
	}
	22.5% {
		left: 208px; 
	}
	77.5% {
		left: 208px; 
	}
	100% {
		left: 120px; 
	}
}

@keyframes slideTwo {
	0% {
		left: 140px;
	}
	20% {
		left: 332px; 
	}
	80% {
		left: 332px; 
	}
	100% {
		left: 140px; 
	}
}

@keyframes slideThree {
	0% {
		left: 160px;
	}
	17.5% {
		left: 462px; 
	}
	82.5% {
		left: 462px; 
	}
	100% {
		left: 160px; 
	}
}

@keyframes slideFour {
	0% {
		left: 180px;
	}
	15% {
		left: 612px; 
	}
	85% {
		left: 612px; 
	}
	100% {
		left: 180px; 
	}
}

@keyframes slideFive {
	0% {
		left: 200px;
	}
	12.5% {
		left: 742px; 
	}
	87.5% {
		left: 742px; 
	}
	100% {
		left: 200px; 
	}
}

@keyframes slideSix {
	0% {
		left: 400px;
	}
	10% {
		left: 1000px; 
	}
	90% {
		left: 1000px; 
	}
	100% {
		left: 400px; 
	}
}


.mutilPage-main-container {
	width: 100%;
	height: auto;
	position: relative;
	padding: 124px;
	display: flex;
	gap: 24px;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	position: relative;

	.mutilPage-main-topInfo {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 24px;
		margin-bottom: 48px;
		box-sizing: border-box;

		.mutilPage-main-topInfo-title {
			height: auto;
			text-align: left;
			font-family: 'GTEestiProText-Bold';
			font-size: @text-TitleSize;
			color: @text-color;
		}

		.mutilPage-main-topInfo-des{
			margin: 0;
			text-align: left;
			width: 100%;
			font-family: 'GTEestiProText-Regular';
			font-size: @text-DescriptionSize;
			line-height: 1.6;
			color: @description-color;
		}
	}

	.mutilPage-main-bottomPage {
		width: 1336px;
		height: 600px;
		position: relative;
		left: 12px;
		transform: translateY(20px);

		.slidesOne {
			width: 320px;
			height: 428px;
			position: absolute;
			box-shadow: 
				0px 10px 10px 0px rgba(65, 68, 126, 0.12);
			z-index: 1;
			left: 208px; //核心位移
			top: 32px;
			animation: slideOne 8s ease-out infinite;
		}

		.slidesTwo {
			width: 320px;
			height: 428px;
			position: absolute;
			box-shadow: 
				0px 10px 10px 0px rgba(65, 68, 126, 0.12);
			z-index: 2;
			left: 332px; //核心位移
			top: 32px;
			animation: slideTwo 8s ease-out infinite;
		}
		
		.slidesThree {
			width: 368px;
			height: 492px;
			position: absolute;
			box-shadow: 
				0px 10px 10px 0px rgba(65, 68, 126, 0.12);
			z-index: 3;
			left: 462px; //核心位移
			animation: slideThree 8s ease-out infinite;
		}

		.slidesFour {
			width: 412px;
			height: 550px;
			position: absolute;
			box-shadow: 0px 18px 20px 0px rgba(65, 68, 126, 0.06);
			box-shadow: 0px 6px 12px 0px rgba(94, 97, 252, 0.04);
			box-shadow: 0px 6px 22px 0px rgba(0, 0, 0, 0.06);
			z-index: 4;
			left: 612px; //核心位移
			top: -32px;
			animation: slideFour 8s ease-out infinite;
		}

		.slidesFive {
			width: 456px;
			height: 604px;
			position: absolute;
			box-shadow: 0px 22px 32px 0px rgba(65, 68, 126, 0.12);
			box-shadow: 0px 18px 16px 0px rgba(94, 97, 252, 0.04);
			box-shadow: 0px 36px 140px 0px rgba(0, 0, 0, 0.1);
			z-index: 6;
			left: 742px; //核心位移
			top: -60px;
			animation: slideFive 8s ease-out infinite;
		}

		.slidesSix {
			width: 320px;
			height: 428px;
			position: absolute;
			z-index: 5;
			top: 20px;
			left: 1000px; //核心位移
			animation: slideSix 8s ease-out infinite;
		}

		.frameWorkPage {
			width: 734px;
			height: 460px;
			position: absolute;
			left: 0px;
		}
	}
}



@media screen and (max-width: 1560px) {
	.mutilPage-main-container {

		.mutilPage-main-bottomPage {
			scale: 0.9;
		}
	}
}


@media screen and (max-width: 1420px) {
	.mutilPage-main-container {
		margin: -120px 0 -160px 0;

		.mutilPage-main-bottomPage {
			scale: 0.8;
			transform: translateY(-20px);
		}
	}
}


@media screen and (max-width: 1280px) {
	.mutilPage-main-container {
		margin: -30px 0 -220px 0;

		.mutilPage-main-bottomPage {
			scale: 0.75;
			transform: translateY(-60px);
		}
	}
}


@media screen and (max-width: 1200px) {
	.mutilPage-main-container {
		margin: -30px 0 -260px 0;

		.mutilPage-main-bottomPage {
			scale: 0.7;
			transform: translateY(-100px);
		}
	}
}


@media screen and (max-width: 1120px) {
	.mutilPage-main-container {
		margin: -30px 0 -340px 0;

		.mutilPage-main-bottomPage {
			scale: 0.6;
			transform: translateY(-180px);
		}
	}
}


@media screen and (max-width: 980px) {
	.mutilPage-main-container {

		.mutilPage-main-bottomPage {
			scale: 0.52;
			transform: translateY(-250px);
		}
	}
}


@media screen and (max-width: 880px) {
	.mutilPage-main-container {
		margin: 20px 0 -400px 0;

		.mutilPage-main-bottomPage {
			scale: 0.45;
			transform: translateY(-380px);
		}
	}
}


@media screen and (max-width: 780px) {
	.mutilPage-main-container {
		margin: 20px 0 -430px 0;

		.mutilPage-main-bottomPage {
			scale: 0.4;
			transform: translateY(-480px);
		}
	}
}


@media screen and (max-width: 700px) {
	.mutilPage-main-container {
		margin: -80px 0 -480px 0;

		.mutilPage-main-bottomPage {
			scale: 0.32;
			transform: translateY(-680px);
		}
	}
}


@media screen and (max-width: 620px) {
	.mutilPage-main-container {
		margin-top: -280px;

		.mutilPage-main-bottomPage {
			scale: 0.3;
			transform: translateY(-830px);
		}
	}
}


@media screen and (max-width: 520px) {
	.mutilPage-main-container {
		padding: 54px;
		gap: 24px;
		margin-top: -320px;

		.mutilPage-main-topInfo {
			.mutilPage-main-topInfo-title {
				font-size: 24px;
			}
		}

		.mutilPage-main-bottomPage {
			scale: 0.3;
			transform: translateY(-830px);
		}
	}
}


@media screen and (max-width: @mediaWidth-Iphone) {
	.mutilPage-main-container {
		gap: 24px;
		margin-top: -340px;

		.mutilPage-main-bottomPage {
			scale: 0.22;
			margin-right: 16px;
			transform: translateY(-1230px);
		}
	}
}