@font-face {
	font-family: 'GTEestiProText-Regular';
	src: url('../../../assets/font/GTEestiProText-Regular.ttf');
}

.avatar {
	width: 98px !important;
	height: 98px !important;
	transition: all 0.25s ease-in-out;
}

.personal-description p {
	text-align: left;
	font-family: 'GTEestiProText-Regular';
}


.changeAvatar:hover {
	background-color: #e5e0ea;
	transform: rotate(360deg);
}

