@import '../../../../../design/color/Global.less'; //引入全局样式库
@font-face {
	font-family: 'RammettoOne';
	src: url('../../../../../assets/font/RammettoOne-Regular.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Bold';
	src: url('../../../../../assets/font/GTEestiProText-Bold.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Book';
	src: url('../../../../../assets/font/GTEestiProText-Book.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Medium';
	src: url('../../../../../assets/font/GTEestiProText-Medium.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Regular';
	src: url('../../../../../assets/font/GTEestiProText-Regular.ttf');
}



// 外容器, 用来放置圆形元素
.definitionBlock-main-container {
	width: 100%;
	box-sizing: border-box;
	position: relative;
	margin-top: 40px;

	.definitionBlock-circle {
		position: absolute;
		left: -400px;
		top: -200px;
	}

	// 内容器, 用来增加 padding
	.definitionBlock-inside-container {
		width: 100%;
		box-sizing: border-box;
		padding: 124px;
		display: flex;
		flex-direction: column;
		gap: 64px;

		// 顶部信息
		.definitionBlock-topContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			.DefinitionBlock-title  {
				font-family: 'GTEestiProText-Bold';
				font-size: @text-TitleSize;
				color: @text-color;
				margin: 0;
			}

			> p {
				font-family: 'GTEestiProText-Regular';
				font-size: @text-DescriptionSize;
				color: @description-color;
				text-align: start;
				line-height: 1.6;
				margin: 0;
			}
		}

		// 底部卡片
		.definitionBlock-bottomContent {
			width: 100%;
			box-sizing: border-box;
			display: flex;
			gap: 18px;
			flex-direction: row;

			.format-container {
				width: 100%;
				display: flex;
				gap: 18px;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				> img {
					width: 100%;
				}
			}

			.sandBoxAndMedia-container {
				width: 100%;
				display: flex;
				gap: 18px;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				> img {
					width: 100%;
				}
			}

			.collAndLayout-container {
				width: 100%;
				display: flex;
				gap: 18px;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				> img {
					width: 100%;
				}
			}

			.wbAndData-container {
				width: 100%;
				display: flex;
				gap: 18px;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				> img {
					width: 100%;
				}
			}
		}
	}

	
}