@import '../../../../../design/color/Global.less'; //引入全局样式库
@font-face {
	font-family: 'RammettoOne';
	src: url('../../../../../assets/font/RammettoOne-Regular.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Bold';
	src: url('../../../../../assets/font/GTEestiProText-Bold.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Book';
	src: url('../../../../../assets/font/GTEestiProText-Book.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Medium';
	src: url('../../../../../assets/font/GTEestiProText-Medium.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Regular';
	src: url('../../../../../assets/font/GTEestiProText-Regular.ttf');
}

.card-bg() {//所有卡片的背景
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 448px;
	background: linear-gradient(180deg, #E9E8F6 0%, rgba(233, 232, 246, 0.7) 46.88%, rgba(233, 232, 246, 0.3) 100%);
	border-radius: 10px;
}




.definitionBlock-main-container {
	width: 100%;
	box-sizing: border-box;
	position: relative;

	.definitionBlock-circle {
		position: absolute;
		left: -400px;
		top: -200px;
	}

	.DefinitionBlock-inside-container {
		width: 100%;
		box-sizing: border-box;
		padding: 84px;

		.DefinitionBlock-topContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			.DefinitionBlock-title  {
				font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
			}

			> p {
				font-family: 'GTEestiProText-Regular';
				font-size: @text-DescriptionSize;
				color: @description-color;
				text-align: start;
				margin: 0;
			}
		}
	}
}