@import '../../../../../design/color/Global.less'; //引入全局样式库

// 引入谷歌字体
@font-face {
	font-family: 'Readex-Pro-medium';
	src: url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');
}

.webSitePage-main-container {
	width: 100%;
	height: auto;
	flex-direction: row;
	display: flex;
	align-items: center;
	gap: 48px;
	padding: 124px 124px 124px 0;
	margin-bottom: 48px;
	box-sizing: border-box;
	position: relative;

	// 左侧页面
	.webSitePage-leftPage {
		width: 45%;
	}

	// 右侧信息
	.webSitePage-rightInfo-Container {
		width: 100%;
		height: auto;
		flex-direction: column;
		display: flex;
		gap: 48px;
		margin-bottom: 48px;
		box-sizing: border-box;

		.webSitePage-rightInfo-top {
			width: 100%;
			height: auto;
			flex-direction: column;
			display: flex;
			gap: 18px;
			box-sizing: border-box;

			.webSitePage-rightInfo-title {
				height: auto;
				text-align: left;
				font-family: 'GTEestiProText-Bold';
				font-size: @text-TitleSize;
				color: @text-color;
			}

			.webSitePage-rightInfo-des {
				margin: 0;
				text-align: left;
				width: 100%;
				font-family: 'GTEestiProText-Regular';
				font-size: @text-DescriptionSize;
				line-height: 1.5;
				color: @description-color;
			}
		}

		.webSitePage-rightInfo-bottom {
			width: 100%;
			height: auto;
			flex-direction: row;
			display: flex;
			gap: 48px;
			box-sizing: border-box;
			justify-content: space-between;

			.webSitePage-register-container {
				width: 100%;
				height: auto;
				flex-direction: row;
				display: flex;
				align-items: center;
				gap: 16px;
				box-sizing: border-box;

				.register-text {
					width: 50%;
					height: auto;
					flex-direction: column;
					display: flex;
					box-sizing: border-box;

					.register-numTitle {
						margin: 0;
						text-align: left;
						width: 100%;
						font-family: 'Readex-Pro-medium';
						font-weight: 700;
						font-size: 32px;
						line-height: 1.6;
						color: @text-color;
						white-space: nowrap;// 文字不折行
					}

					.register-des {
						margin: 0;
						text-align: left;
						width: 100%;
						font-family: 'GTEestiProText-Regular';
						font-size: @text-DescriptionSize;
						line-height: 1.6;
						color: @description-color;
						white-space: nowrap;// 文字不折行
					}
				}

				.arrUp {
					width: 58px;
				}
			}

			.webSitePage-upVoteUser-container {
				width: 100%;
				height: auto;
				flex-direction: row;
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;

				.upVoteUser-text {
					width: 50%;
					height: auto;
					flex-direction: column;
					display: flex;
					box-sizing: border-box;

					.upVote-numTitle {
						margin: 0;
						text-align: left;
						width: 100%;
						font-family: 'Readex-Pro-medium';
						font-weight: 700;
						font-size: 32px;
						line-height: 1.6;
						color: @text-color;
						white-space: nowrap;// 文字不折行
					}

					.upVote-des {
						margin: 0;
						text-align: left;
						width: 100%;
						font-family: 'GTEestiProText-Regular';
						font-size: @text-DescriptionSize;
						line-height: 1.6;
						color: @description-color;
						white-space: nowrap;// 文字不折行
					}
				}

				.arrUp {
					width: 58px;
				}
			}
		}
	}
}



@media screen and (max-width: 1440px) {
	.webSitePage-main-container {
		// 左侧页面
		.webSitePage-leftPage {
			width: 560px;
		}
	}
}


@media screen and (max-width: 1380px) {
	.webSitePage-main-container {
		margin-bottom: -20px;

		// 左侧页面
		.webSitePage-leftPage {
			width: 45%;
		}
	}
}


@media screen and (max-width: 1180px) {
	.webSitePage-main-container {
		margin-top: -264px;

		// 左侧页面
		.webSitePage-leftPage {
			width: 440px;
		}

		// 右侧信息
		.webSitePage-rightInfo-Container {
			width: 50%;
			box-sizing: border-box;


			.webSitePage-rightInfo-bottom {

				.webSitePage-register-container {
					width: 296px;

					.register-text {
						// 描述文案
						.register-des {
							font-size: 14px;
						}
					}

					.arrUp {
						width: 44px;
					}
				}

				.webSitePage-upVoteUser-container {
					width: 296px;

					.upVoteUser-text {

						// 描述文案
						.upVote-des {
							font-size: 14px;
						}
					}

					.arrUp {
						width: 44px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1000px) {
	.webSitePage-main-container {
		flex-direction: column-reverse;
		gap: 20px;
		padding: 124px 124px 124px 124px;
		margin-bottom: 48px;
		margin-top: -10px;

		// 左侧页面
		.webSitePage-leftPage {
			width: 580px;
		}

		// 右侧信息
		.webSitePage-rightInfo-Container {
			width: 100%;
			flex-direction: column;
			gap: 32px;

			.webSitePage-rightInfo-bottom {

				.webSitePage-register-container {
					width: 296px;

					.register-text {
						.register-numTitle {
							font-size: 28px;
						}
					}

					.arrUp {
						width: 40px;
					}
				}

				.webSitePage-upVoteUser-container {
					width: 296px;

					.upVoteUser-text {
						.upVote-numTitle {
							font-size: 28px;
						}
					}

					.arrUp {
						width: 40px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 780px) {
	.webSitePage-main-container {

		// 左侧页面
		.webSitePage-leftPage {
			width: 500px;
		}

		// 右侧信息
		.webSitePage-rightInfo-Container {


			.webSitePage-rightInfo-bottom {

				.webSitePage-register-container {
					width: 296px;

					.register-text {

						.register-numTitle {
							font-size: 24px;
						}

						.register-des {
							font-size: 12px;
						}
					}

					.arrUp {
						width: 32px;
					}
				}

				.webSitePage-upVoteUser-container {
					width: 296px;

					.upVoteUser-text {

						.upVote-numTitle {
							font-size: 24px;
						}

						.upVote-des {
							font-size: 12px;// 文字不折行
						}
					}

					.arrUp {
						width: 32px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 680px) {
	.webSitePage-main-container {
		margin-top: -280px;

		// 左侧页面
		.webSitePage-leftPage {
			// width: 100%;
			width: 400px;
		}

		// 右侧信息
		.webSitePage-rightInfo-Container {


			.webSitePage-rightInfo-bottom {

				.webSitePage-register-container {
					width: 296px;

					.register-text {
						width: 104px;

						.register-numTitle {
							font-size: 24px;
						}

						.register-des {
							font-size: 12px;
						}
					}

					.arrUp {
						width: 32px;
					}
				}

				.webSitePage-upVoteUser-container {
					width: 296px;

					.upVoteUser-text {
						width: 104px;

						.upVote-numTitle {
							font-size: 24px;
						}

						.upVote-des {
							font-size: 12px;// 文字不折行
						}
					}

					.arrUp {
						width: 32px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 640px) {
	.webSitePage-main-container {
		margin-bottom: 48px;
		margin-top: -360px;

		// 左侧页面
		.webSitePage-leftPage {
			width: 360px;
		}

		// 右侧信息
		.webSitePage-rightInfo-Container {


			.webSitePage-rightInfo-bottom {
				width: 386px;
				justify-content: space-between;

				.webSitePage-register-container {
					width: 296px;

					.register-text {
						width: 104px;

						.register-numTitle {
							font-size: 24px;
						}

						.register-des {
							font-size: 12px;
						}
					}

					.arrUp {
						width: 32px;
					}
				}

				.webSitePage-upVoteUser-container {
					width: 296px;

					.upVoteUser-text {
						width: 104px;

						.upVote-numTitle {
							font-size: 24px;
						}

						.upVote-des {
							font-size: 12px;// 文字不折行
						}
					}

					.arrUp {
						width: 32px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 580px) {
	.webSitePage-main-container {
		margin-bottom: 48px;
		margin-top: -320px;

		// 左侧页面
		.webSitePage-leftPage {
			// width: 100%;
			width: 310px;
			margin-top: -10px;
		}

		// 右侧信息
		.webSitePage-rightInfo-Container {


			.webSitePage-rightInfo-bottom {
				width: 386px;
				justify-content: space-between;
				scale: 0.9;
				transform: translateX(-24px);

				.webSitePage-register-container {
					width: 296px;

					.register-text {
						width: 104px;

						.register-numTitle {
							font-size: 24px;
						}

						.register-des {
							font-size: 12px;
						}
					}

					.arrUp {
						width: 32px;
					}
				}

				.webSitePage-upVoteUser-container {
					width: 296px;

					.upVoteUser-text {
						width: 104px;

						.upVote-numTitle {
							font-size: 24px;
						}

						.upVote-des {
							font-size: 12px;// 文字不折行
						}
					}

					.arrUp {
						width: 32px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 520px) {
	.webSitePage-main-container {
		flex-direction: column-reverse;
		gap: 0px;
		padding: 54px;
		margin-bottom: 48px;
		margin-top: 140px;

		// 左侧页面
		.webSitePage-leftPage {
			// width: 100%;
			width: 400px;
			margin-top: -10px;
		}

		// 右侧信息
		.webSitePage-rightInfo-Container {

			// 大标题
			.webSitePage-rightInfo-top {

				.webSitePage-rightInfo-title {
					font-size: 24px;
				}
			}


			.webSitePage-rightInfo-bottom {
				width: 386px;
				justify-content: space-between;
				scale: 0.9;
				transform: translateX(-24px);

				.webSitePage-register-container {
					width: 296px;

					.register-text {
						width: 104px;

						.register-numTitle {
							font-size: 24px;
						}

						.register-des {
							font-size: 12px;
						}
					}

					.arrUp {
						width: 34px;
					}
				}

				.webSitePage-upVoteUser-container {
					width: 296px;

					.upVoteUser-text {
						width: 104px;

						.upVote-numTitle {
							font-size: 24px;
						}

						.upVote-des {
							font-size: 12px;// 文字不折行
						}
					}

					.arrUp {
						width: 34px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 400px) {
	.webSitePage-main-container {
		margin-bottom: 88px;
		margin-top: 140px;

		// 左侧页面
		.webSitePage-leftPage {
			width: 280px;
			margin-top: -10px;
		}

		// 右侧信息
		.webSitePage-rightInfo-Container {

			.webSitePage-rightInfo-bottom {
				width: 386px;
				gap: 8px;
				justify-content: space-between;
				scale: 0.8;
				transform: translateX(-48px);

				.webSitePage-register-container {
					width: 134px;

					.register-text {
						width: 94px;

						.register-numTitle {
							font-size: 24px;
						}

						.register-des {
							font-size: 12px;
						}
					}

					.arrUp {
						width: 34px;
					}
				}

				.webSitePage-upVoteUser-container {
					width: 296px;

					.upVoteUser-text {
						width: 94px;

						.upVote-numTitle {
							font-size: 24px;
						}

						.upVote-des {
							font-size: 12px;// 文字不折行
						}
					}

					.arrUp {
						width: 34px;
					}
				}
			}
		}
	}
}

