@import '../../../../../design/color/Global.less'; //引入全局样式库
@font-face {
	font-family: 'RammettoOne';
	src: url('../../../../../assets/font/RammettoOne-Regular.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Bold';
	src: url('../../../../../assets/font/GTEestiProText-Bold.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Book';
	src: url('../../../../../assets/font/GTEestiProText-Book.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Medium';
	src: url('../../../../../assets/font/GTEestiProText-Medium.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Regular';
	src: url('../../../../../assets/font/GTEestiProText-Regular.ttf');
}


@media screen and (max-width: @mediaWidth-Max) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		gap: 124px;
		box-sizing: border-box;
		position: relative;
		margin-top: -40px;
		
		.pjb-UXStategy-insideContainer {
			width: 1632px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:64px;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					top: -36px;
					position: absolute;
					width: 75%;
					height: 72px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					font-size: 24px;
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 72px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 18px;
					white-space: nowrap;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					top: -36px;
					position: absolute;
					width: 75%;
					height: 72px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					font-size: 24px;
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 72px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 18px;
					white-space: nowrap;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 132px;
		}
	}
}


@media screen and (max-width: 1880px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		gap: 124px;
		box-sizing: border-box;
		position: relative;
		margin-top: -40px;
		
		.pjb-UXStategy-insideContainer {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:64px;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					top: -36px;
					position: absolute;
					width: 75%;
					height: 72px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					font-size: 24px;
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 72px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 18px;
					white-space: nowrap;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					top: -36px;
					position: absolute;
					width: 75%;
					height: 72px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					font-size: 24px;
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 72px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 18px;
					white-space: nowrap;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 132px;
		}
	}
}


@media screen and (max-width: 1540px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		gap: 124px;
		box-sizing: border-box;
		position: relative;
		margin-top: -40px;
		
		.pjb-UXStategy-insideContainer {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:64px;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 22px;
					top: -36px;
					position: absolute;
					width: 75%;
					height: 72px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 72px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 16px;
					white-space: nowrap;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 22px;
					top: -36px;
					position: absolute;
					width: 75%;
					height: 72px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 72px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 16px;
					white-space: nowrap;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 132px;
		}
	}
}


@media screen and (max-width: 1400px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		box-sizing: border-box;
		position: relative;
		margin-top: -40px;
		
		.pjb-UXStategy-insideContainer {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:48px;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 20px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 20px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 132px;
		}
	}
}


@media screen and (max-width: 1320px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		box-sizing: border-box;
		position: relative;
		margin-top: -68px;
		margin-bottom: -24px;
		
		.pjb-UXStategy-insideContainer {
			width: 1140px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:48px;
			scale: 0.9;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 20px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 20px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 112px;
			transform: translateY(-24px);
		}
	}
}


@media screen and (max-width: 1180px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		box-sizing: border-box;
		position: relative;
		margin-top: -68px;
		margin-bottom: -24px;
		
		.pjb-UXStategy-insideContainer {
			width: 1140px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:40px;
			scale: 0.8;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 20px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 20px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 112px;
			transform: translateY(-48px);
		}
	}
}


@media screen and (max-width: 1080px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		box-sizing: border-box;
		position: relative;
		margin-top: -108px;
		margin-bottom: -44px;
		
		.pjb-UXStategy-insideContainer {
			width: 1140px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:40px;
			scale: 0.73;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 20px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 14px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 20px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 92px;
			transform: translateY(-68px);
		}
	}
}


@media screen and (max-width: 980px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		box-sizing: border-box;
		position: relative;
		margin-top: -158px;
		margin-bottom: -68px;
		
		.pjb-UXStategy-insideContainer {
			width: 132%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:128px;
			scale: 0.75;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 24px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 22px;
					white-space: nowrap;
					margin-top: 20px;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 254px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 24px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 22px;
					white-space: nowrap;
					margin-top: 20px;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 92px;
			transform: translateY(-108px);
		}
	}
}


@media screen and (max-width: 780px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		box-sizing: border-box;
		position: relative;
		margin-top: -178px;
		margin-bottom: -144px;
		
		.pjb-UXStategy-insideContainer {
			width: 132%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:88px;
			scale: 0.75;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 224px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 22px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 18px;
					white-space: nowrap;
					margin-top: 20px;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 224px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 22px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 18px;
					white-space: nowrap;
					margin-top: 20px;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 92px;
			transform: translateY(-128px);
		}
	}
}


@media screen and (max-width: 680px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		box-sizing: border-box;
		position: relative;
		margin-top: -188px;
		margin-bottom: -144px;
		
		.pjb-UXStategy-insideContainer {
			width: 132%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:88px;
			scale: 0.75;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 224px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 22px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 16px;
					white-space: nowrap;
					margin-top: 20px;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 224px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 22px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 16px;
					white-space: nowrap;
					margin-top: 20px;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 92px;
			transform: translateY(-148px);
		}
	}
}


@media screen and (max-width: 640px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		box-sizing: border-box;
		position: relative;
		margin-top: -188px;
		margin-bottom: -164px;
		
		.pjb-UXStategy-insideContainer {
			width: 132%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:68px;
			scale: 0.75;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 204px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 22px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
					margin-top: 20px;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 204px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 22px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
					margin-top: 20px;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 92px;
			transform: translateY(-148px);
		}
	}
}


@media screen and (max-width: 600px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 124px;
		box-sizing: border-box;
		position: relative;
		box-sizing: border-box;
		position: relative;
		margin-top: -228px;
		margin-bottom: -174px;
		
		.pjb-UXStategy-insideContainer {
			width: 155%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:88px;
			scale: 0.65;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 204px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 22px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
					margin-top: 20px;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 204px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 22px;
					top: -28px;
					position: absolute;
					width: 75%;
					height: 64px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 14px;
					white-space: nowrap;
					margin-top: 20px;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 80px;
			transform: translateY(-168px);
		}
	}
}


@media screen and (max-width: 520px) {
	.pjb-UXStategy-main-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 54px;
		box-sizing: border-box;
		position: relative;
		box-sizing: border-box;
		position: relative;
		margin-top: -128px;
		margin-bottom: -124px;
		
		.pjb-UXStategy-insideContainer {
			width: 132%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			gap:88px;
			scale: 0.75;

			// 左侧目标
			.pjb-UXStategy-leftObjectives {
				position: relative;
				width: 100%;
				height: 164px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-leftObjectives-title {
					font-size: 18px;
					top: -26px;
					position: absolute;
					width: 75%;
					height: 60px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-leftObjectives-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 12px;
					white-space: nowrap;
					margin-top: 20px;
					scale: 0.83;
				}
			}

			// 右侧策略
			.pjb-UXStategy-rightStategy {
				position: relative;
				width: 100%;
				height: 164px !important;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				box-sizing: border-box;
				height: 278px;
				background: #E5E8F6;
				border-radius: 20px;
				padding: 0 24px;

				.pjb-UXStategy-rightStategy-title {
					font-size: 18px;
					top: -26px;
					position: absolute;
					width: 75%;
					height: 60px;
					background: white;
					border-radius: 12px;
					font-family: 'GTEestiProText-Bold';
					box-shadow: 0px 12px 16px 0px #41447E14;
					box-shadow: 0px 6px 12px 0px #5E61FC05;
					text-align: center;
					line-height: 64px;
				}

				.pjb-UXStategy-rightStategy-items {
					font-family: 'GTEestiProText-Regular';
					font-size: 12px;
					white-space: nowrap;
					margin-top: 20px;
					scale: 0.83;
				}
			}
		}

		.dbBottomArrowIcon {
			width: 80px;
			transform: translateY(-138px);
		}
	}
}
