@import '../../../../../design/color/Global.less'; //引入全局样式库
@font-face {
	font-family: 'RammettoOne';
	src: url('../../../../../assets/font/RammettoOne-Regular.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Bold';
	src: url('../../../../../assets/font/GTEestiProText-Bold.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Book';
	src: url('../../../../../assets/font/GTEestiProText-Book.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Medium';
	src: url('../../../../../assets/font/GTEestiProText-Medium.ttf');
}

@font-face {
	font-family: 'GTEestiProText-Regular';
	src: url('../../../../../assets/font/GTEestiProText-Regular.ttf');
}


@media screen and (max-width: @mediaWidth-Max) {	
	.editoral-main-container {
		width: 100%;
		// height: auto;
		display: flex;
		flex-direction: row;
		gap: 48px;
		box-sizing: border-box;
		padding: 124px;
		align-items: center;
		justify-content: space-between;

		// 左侧内容
		.editoral-left-container {
			width: 1048px;
			display: flex;
			flex-direction: column;
			gap: 48px;

			.editoral-text-container {
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				.editoral-title {
					font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
				}

				> p {
					font-family: 'GTEestiProText-Regular';
					font-size: @text-DescriptionSize;
					color: @description-color;
					text-align: start;
					margin: 0;
				}
			}

			.editoral-graphic-container {
				display: flex;
				flex-direction: row;
				gap: 48px;
				align-items: center;
				justify-content: space-evenly;
				margin-left: -12px;
				
				// 三个圆
				.editoral-graphic {
					width: 102px;
					height: 102px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					aspect-ratio: 1/1; //1 比 1 正圆形 （固定长宽比）
					border: 1px solid @text-color;
					color: @text-color;
					font-family: 'GTEestiProText-Book';
					font-size: @text-DescriptionSize;
				}

				//箭头
				> img {
					width: 84px;
					height: 84px;
				}

			}
		
		}

		// 右侧内容
		.editoral-right-container {
			margin-top: 68px;
			margin-left: 148px;
			width: 896px;
			height: 675px;
			position: relative;
			// border: 1px solid @text-color; //临时查看下显示范围

			.Pointer {
				width: 120px;
				border-radius: 12px;
				position: absolute;
				transform: translate(416px,346px); // 向右上位移
				left: 0;
				z-index: 9;
			}

			.bg-homePage-rightCard {
				width: 480px;
				border-radius: 12px;
				position: absolute;
				transform: translate(306px,248px); // 向右上位移
				left: 0;
				z-index: 8;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);
			}

			.bg-homePage-leftCard {
				width: 382px;
				border-radius: 12px;
				position: absolute;
				transform: translate(-92px,248px); // 向右上位移
				left: 0;
				z-index: 7;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);

			}

			.page-homePage {
				width: 512px;
				border-radius: 16px;
				position: absolute;
				transform: translate(48px, -48px); // 向右上位移
				left: 0%;
				z-index: 6;
			}

			.pageBg-center {
				width: 512px;
				opacity: 1;
				position: absolute;
				left: 0%;
				transform: translate(24px, -24px); // 向右上位移
				backdrop-filter: blur(24px);//背景模糊
				border-radius: 16px;
				z-index: 5;
			}

			.pageBg-bottom {
				width: 512px;
				opacity: 0.5;
				position: absolute;
				border-radius: 16px;
				left: 0%;
			}
		}
	}
}


@media screen and (max-width: 1600px) {	
	.editoral-main-container {
		width: 100%;
		// height: auto;
		display: flex;
		flex-direction: row;
		gap: 48px;
		box-sizing: border-box;
		padding: 124px;
		align-items: center;
		justify-content: space-between;

		// 左侧内容
		.editoral-left-container {
			width: 648px;
			display: flex;
			flex-direction: column;
			gap: 28px;

			.editoral-text-container {
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				.editoral-title {
					font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
				}

				> p {
					font-family: 'GTEestiProText-Regular';
					font-size: @text-DescriptionSize;
					color: @description-color;
					text-align: start;
					margin: 0;
				}
			}

			.editoral-graphic-container {
				display: flex;
				flex-direction: row;
				gap: 48px;
				align-items: center;
				justify-content: space-evenly;
				margin-left: -12px;
				
				// 三个圆
				.editoral-graphic {
					width: 102px;
					height: 102px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					aspect-ratio: 1/1; //1 比 1 正圆形 （固定长宽比）
					border: 1px solid @text-color;
					color: @text-color;
					font-family: 'GTEestiProText-Book';
					font-size: @text-DescriptionSize;
				}

				//箭头
				> img {
					width: 84px;
					height: 84px;
				}
			}
		}

		// 右侧内容
		.editoral-right-container {
			margin-top: 68px;
			margin-left: 148px;
			width: 896px;
			height: 675px;
			position: relative;
			scale: 0.9;
			transform: translate(-60px, 0px); 
			// border: 1px solid @text-color; //临时查看下显示范围

			.Pointer {
				width: 120px;
				border-radius: 12px;
				position: absolute;
				transform: translate(416px,346px); // 向右上位移
				left: 0;
				z-index: 9;
			}

			.bg-homePage-rightCard {
				width: 480px;
				border-radius: 12px;
				position: absolute;
				transform: translate(306px,248px); // 向右上位移
				left: 0;
				z-index: 8;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);
			}

			.bg-homePage-leftCard {
				width: 382px;
				border-radius: 12px;
				position: absolute;
				transform: translate(-92px,248px); // 向右上位移
				left: 0;
				z-index: 7;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);

			}

			.page-homePage {
				width: 512px;
				border-radius: 16px;
				position: absolute;
				transform: translate(48px, -48px); // 向右上位移
				left: 0%;
				z-index: 6;
			}

			.pageBg-center {
				width: 512px;
				opacity: 1;
				position: absolute;
				left: 0%;
				transform: translate(24px, -24px); // 向右上位移
				backdrop-filter: blur(24px);//背景模糊
				border-radius: 16px;
				z-index: 5;
			}

			.pageBg-bottom {
				width: 512px;
				opacity: 0.5;
				position: absolute;
				border-radius: 16px;
				left: 0%;
			}
		}
	}
}


@media screen and (max-width: 1480px) {	
	.editoral-main-container {
		width: 100%;
		// height: auto;
		display: flex;
		flex-direction: row;
		gap: 48px;
		box-sizing: border-box;
		padding: 124px;
		align-items: center;
		justify-content: space-between;

		// 左侧内容
		.editoral-left-container {
			width: 508px;
			display: flex;
			flex-direction: column;
			gap: 28px;

			.editoral-text-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				.editoral-title {
					font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
				}

				> p {
					font-family: 'GTEestiProText-Regular';
					font-size: @text-DescriptionSize;
					color: @description-color;
					text-align: start;
					margin: 0;
				}
			}

			.editoral-graphic-container {
				display: flex;
				width: 100%;
				flex-direction: row;
				gap: 28px;
				align-items: center;
				justify-content: space-between;
				margin-left: -12px;
				
				// 三个圆
				.editoral-graphic {
					width: 102px;
					height: 102px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					aspect-ratio: 1/1; //1 比 1 正圆形 （固定长宽比）
					border: 1px solid @text-color;
					color: @text-color;
					font-family: 'GTEestiProText-Book';
					font-size: @text-DescriptionSize;
				}

				//箭头
				> img {
					width: 84px;
					height: 84px;
				}
			}
		}

		// 右侧内容
		.editoral-right-container {
			margin-top: 68px;
			margin-left: 148px;
			width: 896px;
			height: 675px;
			position: relative;
			scale: 0.85;
			transform: translate(-140px, 0px); 
			// border: 1px solid @text-color; //临时查看下显示范围

			.Pointer {
				width: 120px;
				border-radius: 12px;
				position: absolute;
				transform: translate(416px,346px); // 向右上位移
				left: 0;
				z-index: 9;
			}

			.bg-homePage-rightCard {
				width: 480px;
				border-radius: 12px;
				position: absolute;
				transform: translate(306px,248px); // 向右上位移
				left: 0;
				z-index: 8;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);
			}

			.bg-homePage-leftCard {
				width: 382px;
				border-radius: 12px;
				position: absolute;
				transform: translate(-92px,248px); // 向右上位移
				left: 0;
				z-index: 7;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);

			}

			.page-homePage {
				width: 512px;
				border-radius: 16px;
				position: absolute;
				transform: translate(48px, -48px); // 向右上位移
				left: 0%;
				z-index: 6;
			}

			.pageBg-center {
				width: 512px;
				opacity: 1;
				position: absolute;
				left: 0%;
				transform: translate(24px, -24px); // 向右上位移
				backdrop-filter: blur(24px);//背景模糊
				border-radius: 16px;
				z-index: 5;
			}

			.pageBg-bottom {
				width: 512px;
				opacity: 0.5;
				position: absolute;
				border-radius: 16px;
				left: 0%;
			}
		}
	}
}


@media screen and (max-width: 1280px) {	
	.editoral-main-container {
		width: 100%;
		// height: auto;
		display: flex;
		flex-direction: row;
		gap: 48px;
		box-sizing: border-box;
		padding: 124px;
		align-items: center;
		justify-content: space-between;

		// 左侧内容
		.editoral-left-container {
			width: 392px;
			display: flex;
			flex-direction: column;
			gap: 28px;

			.editoral-text-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				.editoral-title {
					font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
				}

				> p {
					font-family: 'GTEestiProText-Regular';
					font-size: @text-DescriptionSize;
					color: @description-color;
					text-align: start;
					margin: 0;
				}
			}

			.editoral-graphic-container {
				display: flex;
				width: 100%;
				flex-direction: row;
				gap: 16px;
				align-items: center;
				justify-content: space-between;
				margin-left: -12px;
				
				// 三个圆
				.editoral-graphic {
					width: 92px;
					height: 92px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					aspect-ratio: 1/1; //1 比 1 正圆形 （固定长宽比）
					border: 1px solid @text-color;
					color: @text-color;
					font-family: 'GTEestiProText-Book';
					font-size: @text-DescriptionSize;
					font-size: 16px;
				}

				//箭头
				> img {
					width: 84px;
					height: 84px;
				}
			}
		}

		// 右侧内容
		.editoral-right-container {
			margin-top: 68px;
			margin-left: 148px;
			width: 896px;
			height: 675px;
			position: relative;
			scale: 0.8;
			transform: translate(-140px, 0px); 
			// border: 1px solid @text-color; //临时查看下显示范围

			.Pointer {
				width: 120px;
				border-radius: 12px;
				position: absolute;
				transform: translate(416px,346px); // 向右上位移
				left: 0;
				z-index: 9;
			}

			.bg-homePage-rightCard {
				width: 480px;
				border-radius: 12px;
				position: absolute;
				transform: translate(306px,248px); // 向右上位移
				left: 0;
				z-index: 8;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);
			}

			.bg-homePage-leftCard {
				width: 382px;
				border-radius: 12px;
				position: absolute;
				transform: translate(-92px,248px); // 向右上位移
				left: 0;
				z-index: 7;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);

			}

			.page-homePage {
				width: 512px;
				border-radius: 16px;
				position: absolute;
				transform: translate(48px, -48px); // 向右上位移
				left: 0%;
				z-index: 6;
			}

			.pageBg-center {
				width: 512px;
				opacity: 1;
				position: absolute;
				left: 0%;
				transform: translate(24px, -24px); // 向右上位移
				backdrop-filter: blur(24px);//背景模糊
				border-radius: 16px;
				z-index: 5;
			}

			.pageBg-bottom {
				width: 512px;
				opacity: 0.5;
				position: absolute;
				border-radius: 16px;
				left: 0%;
			}
		}
	}
}


@media screen and (max-width: 1080px) {	
	.editoral-main-container {
		width: 100%;
		// height: auto;
		display: flex;
		flex-direction: column;
		// gap: 48px;
		box-sizing: border-box;
		padding: 8px 124px;
		align-items: center;
		justify-content: space-between;

		// 左侧内容
		.editoral-left-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 28px;

			.editoral-text-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				.editoral-title {
					font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
				}

				> p {
					font-family: 'GTEestiProText-Regular';
					font-size: @text-DescriptionSize;
					color: @description-color;
					text-align: start;
					margin: 0;
				}
			}

			.editoral-graphic-container {
				display: flex;
				width: 100%;
				flex-direction: row;
				gap: 16px;
				align-items: center;
				justify-content: space-between;
				margin-left: -12px;
				
				// 三个圆
				.editoral-graphic {
					width: 92px;
					height: 92px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					aspect-ratio: 1/1; //1 比 1 正圆形 （固定长宽比）
					border: 1px solid @text-color;
					color: @text-color;
					font-family: 'GTEestiProText-Book';
					font-size: @text-DescriptionSize;
					font-size: 16px;
				}

				//箭头
				> img {
					width: 84px;
					height: 84px;
				}
			}
		}

		// 右侧内容
		.editoral-right-container {
			margin-top: 68px;
			margin-left: 148px;
			width: 896px;
			height: 675px;
			position: relative;
			scale: 0.85;
			transform: translate(60px, -80px); 
			// border: 1px solid @text-color; //临时查看下显示范围

			.Pointer {
				width: 120px;
				border-radius: 12px;
				position: absolute;
				transform: translate(416px,346px); // 向右上位移
				left: 0;
				z-index: 9;
			}

			.bg-homePage-rightCard {
				width: 420px;
				border-radius: 12px;
				position: absolute;
				transform: translate(306px,248px); // 向右上位移
				left: 0;
				z-index: 8;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);
			}

			.bg-homePage-leftCard {
				width: 382px;
				border-radius: 12px;
				position: absolute;
				transform: translate(-92px,248px); // 向右上位移
				left: 0;
				z-index: 7;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);

			}

			.page-homePage {
				width: 512px;
				border-radius: 16px;
				position: absolute;
				transform: translate(48px, -48px); // 向右上位移
				left: 0%;
				z-index: 6;
			}

			.pageBg-center {
				width: 512px;
				opacity: 1;
				position: absolute;
				left: 0%;
				transform: translate(24px, -24px); // 向右上位移
				backdrop-filter: blur(24px);//背景模糊
				border-radius: 16px;
				z-index: 5;
			}

			.pageBg-bottom {
				width: 512px;
				opacity: 0.5;
				position: absolute;
				border-radius: 16px;
				left: 0%;
			}
		}
	}
}


@media screen and (max-width: 800px) {	
	.editoral-main-container {
		width: 100%;
		// height: auto;
		display: flex;
		flex-direction: column;
		// gap: 48px;
		box-sizing: border-box;
		padding: 8px 124px;
		align-items: center;
		justify-content: space-between;

		// 左侧内容
		.editoral-left-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 28px;
			align-items: center;

			.editoral-text-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				.editoral-title {
					font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
				}

				> p {
					font-family: 'GTEestiProText-Regular';
					font-size: @text-DescriptionSize;
					color: @description-color;
					text-align: start;
					margin: 0;
				}
			}

			.editoral-graphic-container {
				display: flex;
				width: 100%;
				flex-direction: row;
				gap: 16px;
				align-items: center;
				justify-content: space-between;
				margin-left: -12px;
				
				// 三个圆
				.editoral-graphic {
					width: 92px;
					height: 92px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					aspect-ratio: 1/1; //1 比 1 正圆形 （固定长宽比）
					border: 1px solid @text-color;
					color: @text-color;
					font-family: 'GTEestiProText-Book';
					font-size: @text-DescriptionSize;
					font-size: 16px;
				}

				//箭头
				> img {
					width: 84px;
					height: 84px;
				}
			}
		}

		// 右侧内容
		.editoral-right-container {
			margin-top: 68px;
			margin-left: 148px;
			width: 896px;
			height: 675px;
			position: relative;
			scale: 0.7;
			transform: translate(60px, -180px); 
			// border: 1px solid @text-color; //临时查看下显示范围

			.Pointer {
				width: 120px;
				border-radius: 12px;
				position: absolute;
				transform: translate(416px,346px); // 向右上位移
				left: 0;
				z-index: 9;
			}

			.bg-homePage-rightCard {
				width: 420px;
				border-radius: 12px;
				position: absolute;
				transform: translate(306px,248px); // 向右上位移
				left: 0;
				z-index: 8;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);
			}

			.bg-homePage-leftCard {
				width: 382px;
				border-radius: 12px;
				position: absolute;
				transform: translate(-92px,248px); // 向右上位移
				left: 0;
				z-index: 7;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);

			}

			.page-homePage {
				width: 512px;
				border-radius: 16px;
				position: absolute;
				transform: translate(48px, -48px); // 向右上位移
				left: 0%;
				z-index: 6;
			}

			.pageBg-center {
				width: 512px;
				opacity: 1;
				position: absolute;
				left: 0%;
				transform: translate(24px, -24px); // 向右上位移
				backdrop-filter: blur(24px);//背景模糊
				border-radius: 16px;
				z-index: 5;
			}

			.pageBg-bottom {
				width: 512px;
				opacity: 0.5;
				position: absolute;
				border-radius: 16px;
				left: 0%;
			}
		}
	}
}


@media screen and (max-width: 680px) {	
	.editoral-main-container {
		width: 100%;
		// height: auto;
		display: flex;
		flex-direction: column;
		// gap: 48px;
		box-sizing: border-box;
		padding: 8px 124px;
		align-items: center;
		justify-content: space-between;

		// 左侧内容
		.editoral-left-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 28px;
			align-items: center;

			.editoral-text-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				.editoral-title {
					font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
				}

				> p {
					font-family: 'GTEestiProText-Regular';
					font-size: @text-DescriptionSize;
					color: @description-color;
					text-align: start;
					margin: 0;
				}
			}

			.editoral-graphic-container {
				display: flex;
				width: 100%;
				flex-direction: row;
				gap: 16px;
				align-items: center;
				justify-content: space-between;
				margin-left: -12px;
				
				// 三个圆
				.editoral-graphic {
					width: 72px;
					height: 72px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					aspect-ratio: 1/1; //1 比 1 正圆形 （固定长宽比）
					border: 1px solid @text-color;
					color: @text-color;
					font-family: 'GTEestiProText-Book';
					font-size: @text-DescriptionSize;
					font-size: 16px;
				}

				//箭头
				> img {
					width: 64px;
					height: 64px;
				}
			}
		}

		// 右侧内容
		.editoral-right-container {
			margin-top: 68px;
			margin-left: 148px;
			width: 896px;
			height: 675px;
			position: relative;
			scale: 0.65;
			transform: translate(42px, -240px); 
			// border: 1px solid @text-color; //临时查看下显示范围

			.Pointer {
				width: 120px;
				border-radius: 12px;
				position: absolute;
				transform: translate(416px,346px); // 向右上位移
				left: 0;
				z-index: 9;
			}

			.bg-homePage-rightCard {
				width: 420px;
				border-radius: 12px;
				position: absolute;
				transform: translate(306px,248px); // 向右上位移
				left: 0;
				z-index: 8;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);
			}

			.bg-homePage-leftCard {
				width: 382px;
				border-radius: 12px;
				position: absolute;
				transform: translate(-92px,248px); // 向右上位移
				left: 0;
				z-index: 7;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);

			}

			.page-homePage {
				width: 512px;
				border-radius: 16px;
				position: absolute;
				transform: translate(48px, -48px); // 向右上位移
				left: 0%;
				z-index: 6;
			}

			.pageBg-center {
				width: 512px;
				opacity: 1;
				position: absolute;
				left: 0%;
				transform: translate(24px, -24px); // 向右上位移
				backdrop-filter: blur(24px);//背景模糊
				border-radius: 16px;
				z-index: 5;
			}

			.pageBg-bottom {
				width: 512px;
				opacity: 0.5;
				position: absolute;
				border-radius: 16px;
				left: 0%;
			}
		}
	}
}


@media screen and (max-width: 580px) {	
	.editoral-main-container {
		width: 100%;
		// height: auto;
		display: flex;
		margin-top: 88px;
		flex-direction: column;
		// gap: 48px;
		box-sizing: border-box;
		padding: 8px 124px;
		align-items: center;
		justify-content: space-between;
		text-align: left;
		line-height: 1.3;

		// 左侧内容
		.editoral-left-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 28px;
			align-items: center;

			.editoral-text-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				.editoral-title {
					font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
				}

				> p {
					font-family: 'GTEestiProText-Regular';
					font-size: @text-DescriptionSize;
					color: @description-color;
					text-align: start;
					margin: 0;
				}
			}

			.editoral-graphic-container {
				display: flex;
				width: 100%;
				flex-direction: row;
				gap: 16px;
				align-items: center;
				justify-content: space-between;
				margin-left: -12px;
				
				// 三个圆
				.editoral-graphic {
					width: 72px;
					height: 72px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					aspect-ratio: 1/1; //1 比 1 正圆形 （固定长宽比）
					border: 1px solid @text-color;
					color: @text-color;
					font-family: 'GTEestiProText-Book';
					font-size: @text-DescriptionSize;
					font-size: 16px;
				}

				//箭头
				> img {
					width: 64px;
					height: 64px;
				}
			}
		}

		// 右侧内容
		.editoral-right-container {
			margin-top: 68px;
			margin-left: 148px;
			width: 896px;
			height: 675px;
			position: relative;
			scale: 0.55;
			transform: translate(42px, -340px); 
			// border: 1px solid @text-color; //临时查看下显示范围

			.Pointer {
				width: 120px;
				border-radius: 12px;
				position: absolute;
				transform: translate(416px,346px); // 向右上位移
				left: 0;
				z-index: 9;
			}

			.bg-homePage-rightCard {
				width: 420px;
				border-radius: 12px;
				position: absolute;
				transform: translate(306px,248px); // 向右上位移
				left: 0;
				z-index: 8;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);
			}

			.bg-homePage-leftCard {
				width: 382px;
				border-radius: 12px;
				position: absolute;
				transform: translate(-92px,248px); // 向右上位移
				left: 0;
				z-index: 7;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);

			}

			.page-homePage {
				width: 512px;
				border-radius: 16px;
				position: absolute;
				transform: translate(48px, -48px); // 向右上位移
				left: 0%;
				z-index: 6;
			}

			.pageBg-center {
				width: 512px;
				opacity: 1;
				position: absolute;
				left: 0%;
				transform: translate(24px, -24px); // 向右上位移
				backdrop-filter: blur(24px);//背景模糊
				border-radius: 16px;
				z-index: 5;
			}

			.pageBg-bottom {
				width: 512px;
				opacity: 0.5;
				position: absolute;
				border-radius: 16px;
				left: 0%;
			}
		}
	}
}


@media screen and (max-width: @mediaWidth-Min) {	
	.editoral-main-container {
		width: 100%;
		height: 782px;
		margin-top: 88px;
		display: flex;
		flex-direction: column;
		// gap: 48px;
		box-sizing: border-box;
		padding: 8px 54px 0 54px;
		align-items: center;
		justify-content: space-between;
		text-align: left;
		line-height: 1.3;

		// 左侧内容
		.editoral-left-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 28px;
			align-items: center;

			.editoral-text-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				.editoral-title {
					font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
				}

				> p {
					font-family: 'GTEestiProText-Regular';
					font-size: @text-DescriptionSize;
					color: @description-color;
					text-align: start;
					margin: 0;
				}
			}

			.editoral-graphic-container {
				display: flex;
				width: 100%;
				flex-direction: row;
				gap: 16px;
				align-items: center;
				justify-content: space-between;
				margin-left: -12px;
				
				// 三个圆
				.editoral-graphic {
					width: 72px;
					height: 72px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					aspect-ratio: 1/1; //1 比 1 正圆形 （固定长宽比）
					border: 1px solid @text-color;
					color: @text-color;
					font-family: 'GTEestiProText-Book';
					font-size: @text-DescriptionSize;
					font-size: 16px;
				}

				//箭头
				> img {
					width: 64px;
					height: 64px;
				}
			}
		}

		// 右侧内容
		.editoral-right-container {
			margin-top: 68px;
			margin-left: 148px;
			width: 896px;
			height: 275px;
			position: relative;
			scale: 0.55;
			transform: translate(22px, -360px); 
			// border: 1px solid @text-color; //临时查看下显示范围

			.Pointer {
				width: 120px;
				border-radius: 12px;
				position: absolute;
				transform: translate(416px,346px); // 向右上位移
				left: 0;
				z-index: 9;
			}

			.bg-homePage-rightCard {
				width: 320px;
				border-radius: 12px;
				position: absolute;
				transform: translate(306px,248px); // 向右上位移
				left: 0;
				z-index: 8;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);
			}

			.bg-homePage-leftCard {
				width: 322px;
				border-radius: 12px;
				position: absolute;
				transform: translate(-42px,248px); // 向右上位移
				left: 0;
				z-index: 7;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);

			}

			.page-homePage {
				width: 512px;
				border-radius: 16px;
				position: absolute;
				transform: translate(48px, -48px); // 向右上位移
				left: 0%;
				z-index: 6;
			}

			.pageBg-center {
				width: 512px;
				opacity: 1;
				position: absolute;
				left: 0%;
				transform: translate(24px, -24px); // 向右上位移
				backdrop-filter: blur(24px);//背景模糊
				border-radius: 16px;
				z-index: 5;
			}

			.pageBg-bottom {
				width: 512px;
				opacity: 0.5;
				position: absolute;
				border-radius: 16px;
				left: 0%;
			}
		}
	}
}


@media screen and (max-width: @mediaWidth-Iphone) {	
	.editoral-main-container {
		width: 100%;
		height: 912px;
		margin-top: 88px;
		display: flex;
		flex-direction: column;
		// gap: 48px;
		box-sizing: border-box;
		padding: 8px 54px;
		align-items: center;
		justify-content: space-between;
		text-align: left;
		line-height: 1.3;

		// 左侧内容
		.editoral-left-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 28px;
			align-items: center;

			.editoral-text-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				.editoral-title {
					font-family: 'GTEestiProText-Bold';
					font-size: @text-TitleSize;
					color: @text-color;
					margin: 0;
				}

				> p {
					font-family: 'GTEestiProText-Regular';
					font-size: @text-DescriptionSize;
					color: @description-color;
					text-align: start;
					margin: 0;
				}
			}

			.editoral-graphic-container {
				display: flex;
				width: 100%;
				flex-direction: row;
				gap: 12px;
				align-items: center;
				justify-content: space-between;
				margin-left: -12px;
				
				// 三个圆
				.editoral-graphic {
					width: 58px;
					height: 58px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					aspect-ratio: 1/1; //1 比 1 正圆形 （固定长宽比）
					border: 1px solid @text-color;
					color: @text-color;
					font-family: 'GTEestiProText-Book';
					font-size: @text-DescriptionSize;
					font-size: 12px;
				}

				//箭头
				> img {
					width: 64px;
					height: 64px;
				}
			}
		}

		// 右侧内容
		.editoral-right-container {
			margin-top: 68px;
			margin-left: 148px;
			width: 896px;
			height: 275px;
			position: relative;
			scale: 0.45;
			transform: translate(8px, -542px); 
			// border: 1px solid @text-color; //临时查看下显示范围

			.Pointer {
				width: 120px;
				border-radius: 12px;
				position: absolute;
				transform: translate(416px,346px); // 向右上位移
				left: 0;
				z-index: 9;
			}

			.bg-homePage-rightCard {
				width: 420px;
				border-radius: 12px;
				position: absolute;
				transform: translate(306px,248px); // 向右上位移
				left: 0;
				z-index: 8;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);
			}

			.bg-homePage-leftCard {
				width: 382px;
				border-radius: 12px;
				position: absolute;
				transform: translate(-92px,248px); // 向右上位移
				left: 0;
				z-index: 7;
				box-shadow: 
						0px 0px 1px rgba(32, 28, 94, 0.1),
						4px 8px 48px rgba(32, 28, 94, 0.2);

			}

			.page-homePage {
				width: 512px;
				border-radius: 16px;
				position: absolute;
				transform: translate(48px, -48px); // 向右上位移
				left: 0%;
				z-index: 6;
			}

			.pageBg-center {
				width: 512px;
				opacity: 1;
				position: absolute;
				left: 0%;
				transform: translate(24px, -24px); // 向右上位移
				backdrop-filter: blur(24px);//背景模糊
				border-radius: 16px;
				z-index: 5;
			}

			.pageBg-bottom {
				width: 512px;
				opacity: 0.5;
				position: absolute;
				border-radius: 16px;
				left: 0%;
			}
		}
	}
}