@import '../../../../../design/color/Global.less'; //引入全局样式库


.knowledgeGraphic-main-container {
	width: 100%;
	height: 1224px;
	position: relative;
	padding: 52px 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 48px;

	// 顶部信息
	.knowledgeGraphic-main-container-topInfo {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		// margin-bottom: 48px;
		padding: 48px;
		box-sizing: border-box;

		.knowledgeGraphic-topInfo-title {
			width: 100%;
			height: auto;
			font-family: 'GTEestiProText-Bold';
			font-size: @text-TitleSize;
			color: @text-color;
			line-height: 1.5;
		}

		.knowledgeGraphic-topInfo-des {
			width: 100%;
			font-family: 'GTEestiProText-Regular';
			font-size: @text-DescriptionSize;
			line-height: 1.6;
			color: @description-color;
		}
	}

	// 底部 page 容器 
	.knowledgeGraphic-main-container-bottomInfo {
		height: 714px;
		width: 1834px;
		left: 44px;
		display: flex;
		margin: 0;
		justify-content: center;
		align-items: center;
		border-radius: 36px;
		box-sizing: border-box;
		position: relative;
		left: 0;
		transform: translateX(-32px);
		
		.KnowLarge {
			width: 300px;
			height: 328px;
			position: absolute;
			top: -56px;
			left: 378px;
			z-index: 5;
		}

		.KnowMedium {
			width: 256px;  //256px
			height: 276px; //276px;
			position: absolute;
			top: -74px; //-74px
			right: 228px; //-28px
			z-index: 5;
		}

		.KnowSmall {
			width: 196px;
			height: 216px;
			position: absolute;
			bottom: -76px;
			right: 372px;
			z-index: 5;
		}

		.KnowMainPage {
			width: 1180px; //1180px
			height: auto;
			border-radius: 24px;
			position: relative;
			box-shadow: 0px 16px 20px 0px rgba(65, 68, 126, 0.16);
			box-shadow: 0px 6px 2px 0px rgba(94, 97, 252, 0.02);
			box-shadow: 0px -0.6px 8px 0px rgba(0, 0, 0, 0.06);
		}
	}
}



@media screen and (max-width: 2000px) {
	.knowledgeGraphic-main-container {
		.knowledgeGraphic-main-container-topInfo {
			padding-bottom: 12px;
		}

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.8;
			transform: translateX(-142px);
		}
	}
}


@media screen and (max-width: 1820px) {
	.knowledgeGraphic-main-container { 
		margin-bottom: -240px;

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.7;
			transform: translate(-280px, -80px);

			.KnowLarge { 
				position: absolute;
				top: -96px;
				left: 338px; 
			}

			.KnowMedium { 
				top: -74px; //-74px
				right: 228px; //-28px 
			}

			.KnowSmall { 
				bottom: -76px;
				right: 372px; 
			} 
		}
	}
}


@media screen and (max-width: 1620px) {
	.knowledgeGraphic-main-container { 

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.65;
			transform: translate(-410px, -80px);
		}
	}
}


@media screen and (max-width: 1440px) {
	.knowledgeGraphic-main-container { 
		margin-top: -60px;
		margin-bottom: -320px;

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.6;
			transform: translate(-520px, -140px);
		}
	}
}


@media screen and (max-width: 1280px) {
	.knowledgeGraphic-main-container { 

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.55;
			transform: translate(-720px, -200px);
		}
	}
}


@media screen and (max-width: 1120px) {
	.knowledgeGraphic-main-container { 

		.knowledgeGraphic-main-container-topInfo {
			padding: 24px 0;
		}

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.5;
			transform: translate(-980px, -300px);
		}
	}
}


@media screen and (max-width: 1000px) {
	.knowledgeGraphic-main-container { 
		margin-bottom: -480px;

		.knowledgeGraphic-main-container-topInfo {
			gap: 16px;

			.knowledgeGraphic-topInfo-title {
				text-align: left;
			}

			.knowledgeGraphic-topInfo-des { 
				text-align: left;
			}
		}

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.45;
			transform: translate(-1200px, -380px);
		}
	}
}


@media screen and (max-width: 900px) {
	.knowledgeGraphic-main-container {
		margin-top: -100px; 
		margin-bottom: -540px;

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.4;
			transform: translate(-1520px, -480px);
		}
	}
}


@media screen and (max-width: 800px) {
	.knowledgeGraphic-main-container {
		margin-top: -60px; 


		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.37;
			transform: translate(-1740px, -620px);
		}
	}
}


@media screen and (max-width: 720px) {
	.knowledgeGraphic-main-container {
		margin-top: -100px; 
		margin-bottom: -590px;

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.35;
			transform: translate(-1960px, -680px);
		}
	}
}


@media screen and (max-width: 620px) {
	.knowledgeGraphic-main-container {

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.3;
			transform: translate(-2420px, -880px);
		}
	}
}


@media screen and (max-width: 520px) {
	.knowledgeGraphic-main-container {
		padding: 52px;

		// 顶部信息
		.knowledgeGraphic-main-container-topInfo {

			.knowledgeGraphic-topInfo-title {
				font-size: 24px;
			}
		}

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.3;
			transform: translate(-2400px, -900px);
		}
	}
}


@media screen and (max-width: @mediaWidth-Iphone) {
	.knowledgeGraphic-main-container {

		// 底部 page 容器 
		.knowledgeGraphic-main-container-bottomInfo { 
			scale: 0.23;
			transform: translate(-3400px, -1280px);
		}
	}
}