.dataInfo-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	gap: 64px;
	box-sizing: border-box;
	padding: 0px 124px 36px 124px;

	.datainfo-container-left {
		flex: 1;
		height: 320px;
		border-radius: 38px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 32px 64px;
		background: 
			linear-gradient(144.12deg, #22003D 0%, #120037 40.2%, #0B004B 95.28%),
			linear-gradient(193.68deg, rgba(67, 114, 86, 0.122) 7.07%, rgba(136, 76, 20, 0.056) 90.21%);

		.datainfo-container-left-list {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
			> span {
				font-family: GT Eesti Pro Text;
				font-weight: 500;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;
				font-size: 20px;
				font-weight: 500;
				white-space: nowrap;
				color:  rgba(185, 213, 254, 1);
			}
		}
	}

	.datainfo-container-right {
		flex: 2;
		height: 320px;
		border-radius: 38px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 32px 64px;
		gap: auto;
		background: 
			linear-gradient(144.12deg, #170029 0%, #1A0037 40.2%, rgba(0, 30, 75, 0.18) 95.28%),
			linear-gradient(193.68deg, rgba(47, 0, 94, 0.2) 7.07%, rgba(4, 99, 76, 0.07) 90.21%);

		.datainfo-container-right-listContainer {
			height: 484px;
			border-radius: 38px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;

			.datainfo-container-right-list {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: start;
				gap: 16px;
				box-sizing: border-box;
				width: 100%;

				.square-one {
					display: block;
					width: 28px;
					height: 28px;
					border-radius: 6px;
					background: rgba(193, 101, 208, 1);
				}

				.square-two {
					display: block;
					width: 28px;
					height: 28px;
					border-radius: 6px;
					background: rgba(185, 213, 254, 1);
				}

				.square-three {
					display: block;
					width: 28px;
					height: 28px;
					border-radius: 6px;
					background: rgba(61, 75, 130, 1);
				}

				.square-four {
					display: block;
					width: 28px;
					height: 28px;
					border-radius: 6px;
					background: rgba(60, 137, 204, 1);
				}

				.square-five {
					display: block;
					width: 28px;
					height: 28px;
					border-radius: 6px;
					background: rgba(115, 57, 196, 1);
				}

				> span {
					font-family: GT Eesti Pro Text;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					font-size: 18px;
					font-weight: 500;
					white-space: nowrap;
					color:  rgba(185, 213, 254, 1);
				}
			}
		}

		> img {
			max-width: 304px;
			width: 80%;
		}
	}
}


@media screen and (max-width: 1260px) {
	.dataInfo-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		gap: 64px;
		box-sizing: border-box;
		padding: 0px 124px 36px 124px;
	
		.datainfo-container-left {
			flex: 1;
			height: 260px;
			border-radius: 38px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 32px 64px;
			background: 
				linear-gradient(144.12deg, #22003D 0%, #120037 40.2%, #0B004B 95.28%),
				linear-gradient(193.68deg, rgba(67, 114, 86, 0.122) 7.07%, rgba(136, 76, 20, 0.056) 90.21%);
	
			.datainfo-container-left-list {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				
				> span {
					font-family: GT Eesti Pro Text;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					font-size: 16px;
					font-weight: 500;
					white-space: nowrap;
					color:  rgba(185, 213, 254, 1);
				}
			}
		}
	
		.datainfo-container-right {
			flex: 2;
			height: 260px;
			border-radius: 38px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 32px 64px;
			gap: auto;
			background: 
				linear-gradient(144.12deg, #170029 0%, #1A0037 40.2%, rgba(0, 30, 75, 0.18) 95.28%),
				linear-gradient(193.68deg, rgba(47, 0, 94, 0.2) 7.07%, rgba(4, 99, 76, 0.07) 90.21%);
	
			.datainfo-container-right-listContainer {
				height: 484px;
				border-radius: 38px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
				gap: 20px;
	
				.datainfo-container-right-list {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: start;
					gap: 16px;
					box-sizing: border-box;
					width: 100%;
					margin: 0px;
	
					.square-one {
						display: block;
						width: 22px;
						height: 22px;
						border-radius: 6px;
						background: rgba(193, 101, 208, 1);
					}
	
					.square-two {
						display: block;
						width: 22px;
						height: 22px;
						border-radius: 6px;
						background: rgba(185, 213, 254, 1);
					}
	
					.square-three {
						display: block;
						width: 22px;
						height: 22px;
						border-radius: 6px;
						background: rgba(61, 75, 130, 1);
					}
	
					.square-four {
						display: block;
						width: 22px;
						height: 22px;
						border-radius: 6px;
						background: rgba(60, 137, 204, 1);
					}
	
					.square-five {
						display: block;
						width: 22px;
						height: 22px;
						border-radius: 6px;
						background: rgba(115, 57, 196, 1);
					}
	
					> span {
						font-family: GT Eesti Pro Text;
						font-weight: 500;
						line-height: 28px;
						letter-spacing: 0em;
						text-align: left;
						font-size: 16px;
						font-weight: 500;
						white-space: nowrap;
						color:  rgba(185, 213, 254, 1);
					}
				}
			}
	
			> img {
				// max-width: 304px;
				width: 220px;
			}
		}
	}
}


@media screen and (max-width: 1040px) {
	.dataInfo-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		gap: 64px;
		box-sizing: border-box;
		padding: 0px 124px 36px 124px;
	
		.datainfo-container-left {
			width: 83%;
	
			.datainfo-container-left-list {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		}
	
		.datainfo-container-right {
			width: 84%;
			height: 260px;
			border-radius: 38px;
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			align-items: center;
			padding: 32px 64px;
			gap: 32px;
			background: 
				linear-gradient(144.12deg, #170029 0%, #1A0037 40.2%, rgba(0, 30, 75, 0.18) 95.28%),
				linear-gradient(193.68deg, rgba(47, 0, 94, 0.2) 7.07%, rgba(4, 99, 76, 0.07) 90.21%);
	
			.datainfo-container-right-listContainer {
				height: auto;
				border-radius: 38px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
				gap: 20px;
				flex-wrap: wrap; // flex 超过就换行
	
				.datainfo-container-right-list {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: start;
					gap: 8px;
					box-sizing: border-box;
					width: auto;
					margin: 0px;
	
					.square-one {
						display: block;
						width: 18px;
						height: 18px;
						border-radius: 6px;
						background: rgba(193, 101, 208, 1);
					}
	
					.square-two {
						display: block;
						width: 18px;
						height: 18px;
						border-radius: 6px;
						background: rgba(185, 213, 254, 1);
					}
	
					.square-three {
						display: block;
						width: 18px;
						height: 18px;
						border-radius: 6px;
						background: rgba(61, 75, 130, 1);
					}
	
					.square-four {
						display: block;
						width: 18px;
						height: 18px;
						border-radius: 6px;
						background: rgba(60, 137, 204, 1);
					}
	
					.square-five {
						display: block;
						width: 18px;
						height: 18px;
						border-radius: 6px;
						background: rgba(115, 57, 196, 1);
					}
	
					> span {
						font-family: GT Eesti Pro Text;
						font-weight: 500;
						line-height: 28px;
						letter-spacing: 0em;
						text-align: left;
						font-size: 12px;
						font-weight: 500;
						white-space: nowrap;
						color:  rgba(185, 213, 254, 1);
					}
				}
			}
	
			> img {
				// max-width: 304px;
				min-width: 240px;
				width: 60%;
			}
		}
	}
}


@media screen and (max-width: 840px) {
	.dataInfo-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		gap: 64px;
		box-sizing: border-box;
		padding: 0px 124px 36px 124px;
	
		.datainfo-container-left {
			width: 77%;
		}

		.datainfo-container-right {
			width: 77%;
		}
	}
}


@media screen and (max-width: 720px) {
	.dataInfo-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		gap: 64px;
		box-sizing: border-box;
		padding: 0px 124px 36px 124px;
	
		.datainfo-container-left {
			width: 72%;
		}

		.datainfo-container-right {
			width: 72%;
			.datainfo-container-right-listContainer > .datainfo-container-right-list {
				width: 140px;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.dataInfo-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		gap: 64px;
		box-sizing: border-box;
		padding: 0px 124px 36px 124px;
	
		.datainfo-container-left {
			width: 68%;
		}

		.datainfo-container-right {
			width: 68%;
			.datainfo-container-right-listContainer > .datainfo-container-right-list {
				width: 140px;
			}
		}
	}
}

@media screen and (max-width: 580px) {
	.dataInfo-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		gap: 64px;
		box-sizing: border-box;
		padding: 0px 124px 36px 124px;
	
		.datainfo-container-left {
			width: 60%;
		}

		.datainfo-container-right {
			width: 60%;

			.datainfo-container-right-listContainer > .datainfo-container-right-list {
				width: 140px;
			}
		}

		.datainfo-container-right > img {
			min-width: 160px;
			width: 60%;
		}
	}
}


@media screen and (max-width: 500px) {
	.dataInfo-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		gap: 24px;
		box-sizing: border-box;
		padding: 0 54px;
	
		.datainfo-container-left {
			width: 88%;
			padding: 24px;
		}

		.datainfo-container-right {
			width: 88%;
			padding: 24px;

			.datainfo-container-right-listContainer > .datainfo-container-right-list {
				width: 140px;
			}
		}

		.datainfo-container-right > img {
			min-width: 160px;
			width: 60%;
		}
	}
}


@media screen and (max-width: 380px) {
	.dataInfo-container {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		gap: 24px;
		box-sizing: border-box;
		padding: 0 54px;
	
		.datainfo-container-left {
			width: 80%;
			padding: 24px;

			> .datainfo-container-left-list {
				width: 80%;
			}
		}

		.datainfo-container-right {
			width: 80%;
			padding: 24px;

			.datainfo-container-right-listContainer > .datainfo-container-right-list {
				width: 140px;
			}
		}

		.datainfo-container-right > img {
			min-width: 160px;
			width: 60%;
		}
	}
}