@contact-color: rgba(171, 159, 196, 0.5);



.main-nav{
	display: flex;
	justify-content: space-between;
	place-items: center; //flex 内元素全部居中
	gap: 0.5em;//最小间距
	padding: 2.5rem 1.5rem 4rem 1.5rem;
	position: sticky; //子元素吸顶，记住，父元素不能设置 overflow-x:hidden;
	top: 0; //子元素吸顶，记住，父元素不能设置 overflow-x:hidden;
	z-index: 10;
	// align-items: center;    
	// position: fixed;
    // top: 40px;
	// z-index: 10;


	.page-logo{
		img {
			//增加圆角
			border-radius: 0.5rem;
			box-shadow: 
				0px 0px 1px rgba(32, 28, 94, 0.1),
				4px 8px 16px rgba(32, 28, 94, 0.2);
		}
	}

	.contact{
		font-weight: 600;
	}
}

