@filter-container-bg: rgba(240, 240, 240, 0.5);
@filter-selector: rgba(255, 255, 255, 0.5);
@contact-color: rgba(171, 159, 196, 0.5);
@tab-font-normal: rgba(77, 74, 117);
@tab-font-selector: rgba(18, 16, 51);



.main-nav{
	display: flex;
	justify-content: space-between;
	place-items: center; //flex 内元素全部居中
	gap: 0.5em;//最小间距
	padding: 2.5rem 1.5rem 4rem 1.5rem;
	position: sticky; //子元素吸顶，记住，父元素不能设置 overflow-x:hidden;
	top: 0; //子元素吸顶，记住，父元素不能设置 overflow-x:hidden;
	z-index: 10;
	// align-items: center;    
	// position: fixed;
    // top: 40px;
	// z-index: 10;


	.page-logo{
		img {
			//增加圆角
			border-radius: 0.5rem;
			box-shadow: 
				0px 0px 1px rgba(32, 28, 94, 0.1),
				4px 8px 16px rgba(32, 28, 94, 0.2);
		}
	}
	
	.filter-container{
		display: flex;
		gap: 1.5em;
		background-color:@filter-container-bg;
		padding: 0.5rem 1.5rem;
		border-radius: 4rem;
		transition: all 0.3s ease-in-out;
		backdrop-filter: blur(10px);//🔥毛玻璃效果

		//Tab 未选中
		.filter-option{
			font-weight: 600;
			transition: all 0.3s ease-in-out;
			color: @tab-font-normal;
		}

		//Tab 已选中
		.filter-option-active{
			font-weight: 600;
			transition: all 0.3s ease-in-out;
			background-color:@filter-selector;
			border-radius: 4rem;
			height: 100%;
			width: 44px;
			color: @tab-font-selector;
		}
	}

	.contact{
		font-weight: 600;
	}
}

