.business-goal-container {
	display: flex;

	.business-goal-text-container {
		display: flex;
		flex-direction: column;
	}

	.business-goal-graphic-container {
		display: flex;

		.goal-state {
			display: flex;
			flex-direction: column;
		}

		.goal-modelGraphic {
			display: flex;
			flex-direction: column;
		}

	}
}