.migu-userGender-container {
	width: 100%;
	height: auto;
	padding: 36px 124px 72px 124px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;

	.migu-userGender-container-bg {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 38px;
		box-sizing: border-box;
		padding: 12px 60px;
		background: 
			linear-gradient(144.12deg, #170029 0%, #1A0037 40.2%, rgba(0, 30, 75, 0.18) 95.28%),
			linear-gradient(193.68deg, rgba(42, 5, 79, 0.2) 7.07%, rgba(18, 60, 50, 0.07) 90.21%);

		.userGender-container-top {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			.male-icon-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				flex: 1;
				gap: 20px;

				> img {
					width: 36px;
				}

				> p {
					font-family: GT Eesti Pro Text;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					font-size: 18px;
					font-weight: 500;
					white-space: nowrap;
					color:  rgba(185, 213, 254, 1);
				}
			}

			.progressBar-male {
				display: flex;
				align-items: center;
				gap: 32px;
				
				> span {
					font-family: GT Eesti Pro Text;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					font-size: 18px;
					font-weight: 500;
					white-space: nowrap;
					color:  rgba(185, 213, 254, 1);
				}
			}
		}	

		.userGender-container-bottom {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			.female-icon-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				flex: 1;
				gap: 20px;

				> img {
					width: 36px;
				}

				> p {
					font-family: GT Eesti Pro Text;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					font-size: 18px;
					font-weight: 500;
					white-space: nowrap;
					color:  rgba(185, 213, 254, 1);
				}
			}

			.progressBar-female {
				display: flex;
				align-items: center;
				gap: 32px;
				
				> span {
					font-family: GT Eesti Pro Text;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					font-size: 18px;
					font-weight: 500;
					white-space: nowrap;
					color:  rgba(185, 213, 254, 1);
				}
			}
		}
	}
}

@media screen and (max-width: 1140px) {
	.migu-userGender-container {
	
		.migu-userGender-container-bg {

			.userGender-container-top > .progressBar-male {
				width: 70%;
				min-width: 320px;
			}
			.userGender-container-bottom > .progressBar-female {
				width: 70%;
				min-width: 320px;
			}
		}
	}
}

@media screen and (max-width: 780px) {
	.migu-userGender-container {
	
		.migu-userGender-container-bg {

			.userGender-container-top {
				height: 88px;

				.male-icon-container {
					> p {
						display: none;
					}
				}

				.progressBar-male {
					width: 320px;
				}
			}
			.userGender-container-bottom {
				height: 88px;

				.female-icon-container {
					> p {
						display: none;
					}
				}
		
				.progressBar-female {
					width: 320px;
				}
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.migu-userGender-container {
	
		.migu-userGender-container-bg {
			padding: 24px 60px;

			.userGender-container-top {
				height: 58px;
				gap: 4px;

				.male-icon-container {
					> img {
						width: 30px;
					}
				}

				.progressBar-male {
					min-width: 280px;
				}
			}
			.userGender-container-bottom {
				height: 58px;
				gap: 4px;

				.female-icon-container {
					> img {
						width: 30px;
					}
				}
		
				.progressBar-female {
					min-width: 280px;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.migu-userGender-container {
	
		.migu-userGender-container-bg {
			padding: 24px 60px;

			.userGender-container-top {
				height: 58px;
				gap: 4px;

				.male-icon-container {
					> img {
						width: 30px;
					}
					> p {
						display: none;
					}
				}

				.progressBar-male  {
					min-width: 220px;

					> span {
						display: none;
					}
				}
			}
			.userGender-container-bottom {
				height: 58px;
				gap: 4px;

				.female-icon-container {
					> img {
						width: 30px;
					}
					> p {
						display: none;
					}
				}
		
				.progressBar-female  {
					min-width: 220px;

					> span {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.migu-userGender-container {
		padding: 24px 54px 54px 54px;
	}
}

@media screen and (max-width: 380px) {
	.migu-userGender-container > .migu-userGender-container-bg > .userGender-container-top > .progressBar-male {
		min-width: 180px;
	}
	.migu-userGender-container > .migu-userGender-container-bg > .userGender-container-bottom > .progressBar-female {
		min-width: 180px;
	}
}