@import '../../../../../design/color/Global.less'; //引入全局样式库

.blockReference-mainContainer {
	width: 100%;
	height: auto;
	position: relative;
	padding: 52px;
	box-sizing: border-box;
	flex-direction: column;
	position: relative;

	// 顶部信息
	.blockReference-topContainer{
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 48px;
		margin-bottom: 48px;
		padding: 48px;
		box-sizing: border-box;
		z-index: 5;

		.blockReference-topContainer-leftInfoContainer {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			box-sizing: border-box;

			.blockReference-topLeftInfo-title {
				line-height: 1.35;
				width: 100%;
				height: auto;
				text-align: left;
				font-family: 'GTEestiProText-Bold';
				font-size: @text-TitleSize;
				color: @text-color;
			}
			.blockReference-topLeftInfo-des {
				line-height: 1.5;
				width: 100%;
				margin: 0;
				text-align: left;
				font-family: 'GTEestiProText-Regular';
				font-size: @text-DescriptionSize;
				line-height: 1.6;
				color: @description-color;
			}
		}

		.blockReference-topContainer-rightPageContainer {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: row;
			margin-left: 20px;
			gap: 36px;

			.ReferpageOne { //页面
				border-radius: 12px;
				width: 300px;
				margin-bottom: 48px;
				z-index: 5;
			}

			.ReferpageTwo { //页面
				border-radius: 12px;
				width: 300px;
				margin-top: 48px;
				z-index: 5;
			}
		}
	}

	// 底部信息
	.blockReference-bottomContainer {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 48px;
		margin-bottom: 48px;
		padding: 48px;
		box-sizing: border-box;
		z-index: 5;


		.blockReference-bottomContainer-leftPageContainer {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: row;
			gap: 48px;

			.ReferpageThree {//页面
				width: 666px;
				z-index: 5;
			}
		}

		.blockReference-topContainer-bottomRightInfo {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;
			box-sizing: border-box;
			
			.blockReference-bottomRightInfo-title {
				width: 100%;
				height: auto;
				text-align: left;
				font-family: 'GTEestiProText-Bold';
				font-size: @text-TitleSize;
				color: @text-color;
			}
	
			.blockReference-bottomRightInfo-des {
				width: 100%;
				margin: 0;
				text-align: left;
				font-family: 'GTEestiProText-Regular';
				font-size: @text-DescriptionSize;
				line-height: 1.6;
				color: @description-color;
			}

			.blockReference-bottomRightInfo-graphic {
				display: flex;
				width: 100%;
				height: auto;
				flex-direction: column;
				align-items: center;
				gap: 24px;
				box-sizing: border-box;

				// 底部图形描述 1
				.blockReference-bottomRightInfo-topGroup {
					display: flex;
					width: 100%;
					height: auto;
					flex-direction: row;
					align-items: center;
					gap: 24px;
					box-sizing: border-box;
					font-size: 14px;
					font-family: 'GTEestiProText-Regular';
					color: white;
					white-space: nowrap;

					.blockReference-bottomRightInfo-circle {
						width: 192px;
						height: 60px;
						border-radius: 200px;
						border: 2px solid @text-color;
						display: flex;
						align-items: center;
						justify-content: center;
						white-space: nowrap;
						color: @text-color;
					}

					.blockReference-spanA {
						width: 18px;
						height: 18px;
						aspect-ratio: 1/1;
						border-radius: 200px;
						background-color: @text-color;
						display: flex;
						align-items: center;
						justify-content: center;
						color: @text-color;
					}

					.blockReference-spanB {
						width: 12px;
						height: 12px;
						aspect-ratio: 1/1;
						border-radius: 200px;
						background-color: @text-color;
						display: flex;
						align-items: center;
						justify-content: center;
						color: @text-color;
					}

					.blockReference-spanC {
						width: 8px;
						height: 8px;
						aspect-ratio: 1/1;
						border-radius: 200px;
						background-color: @text-color;
						display: flex;
						align-items: center;
						justify-content: center;
						color: @text-color;
					}
				}

				// 底部图形描述 2
				.blockReference-bottomRightInfo-bottomGroup {
					display: flex;
					width: 100%;
					height: auto;
					flex-direction: row;
					align-items: center;
					gap: 24px;
					box-sizing: border-box;
					font-size: 14px;
					font-family: 'GTEestiProText-Regular';
					color: white;
					white-space: nowrap;

					.blockReference-bottomRightInfo-circle {
						width: 192px;
						height: 60px;
						border-radius: 200px;
						border: 2px solid @text-color;
						display: flex;
						align-items: center;
						justify-content: center;
						white-space: nowrap;
						color: @text-color;
					}

					.blockReference-spanA {
						width: 18px;
						height: 18px;
						aspect-ratio: 1/1;
						border-radius: 200px;
						background-color: @text-color;
						display: flex;
						align-items: center;
						justify-content: center;
						color: @text-color;
					}

					.blockReference-spanB {
						width: 12px;
						height: 12px;
						aspect-ratio: 1/1;
						border-radius: 200px;
						background-color: @text-color;
						display: flex;
						align-items: center;
						justify-content: center;
						color: @text-color;
					}

					.blockReference-spanC {
						width: 8px;
						height: 8px;
						aspect-ratio: 1/1;
						border-radius: 200px;
						background-color: @text-color;
						display: flex;
						align-items: center;
						justify-content: center;
						color: @text-color;
					}
				}
			}
		}
	}

	// 底部的色块
	.tiBg {
		width: 100%;
		top: 828px;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		position: absolute;  
		z-index: 0;
		padding: 44px;
		box-sizing: border-box;
	}
}



@media screen and (max-width: 1440px) {	
	.blockReference-mainContainer {

		// 底部信息
		.blockReference-bottomContainer { 

			.blockReference-topContainer-bottomRightInfo {  

				.blockReference-bottomRightInfo-graphic { 
					scale: 0.8;
					transform: translate(-62px);
				}
			}
		} 
	}
}


@media screen and (max-width: 1320px) {	
	.blockReference-mainContainer {

		// 顶部信息
		.blockReference-topContainer{  

			.blockReference-topContainer-rightPageContainer {

				.ReferpageOne { //页面
					width: 260px;
				}

				.ReferpageTwo { //页面
					width: 260px;
				}
			}
		}

		// 底部信息
		.blockReference-bottomContainer { 

			.blockReference-bottomContainer-leftPageContainer {
				width: 1160px; 

				.ReferpageThree {//页面
					width: 520px;
				}
			}

			.blockReference-topContainer-bottomRightInfo {  

				.blockReference-bottomRightInfo-graphic { 
					scale: 0.75;
					transform: translate(-82px);

					// 底部图形描述 1
					.blockReference-bottomRightInfo-topGroup { 

						.blockReference-bottomRightInfo-circle { //胶囊
							width: 208px; 
							height: 48px; 
						} 
					}

					// 底部图形描述 2
					.blockReference-bottomRightInfo-bottomGroup { 

						.blockReference-bottomRightInfo-circle { //胶囊
							width: 192px; 
							height: 48px; 
						} 
					}
				}
			}
		} 
	}
}


@media screen and (max-width: 1220px) {	
	.blockReference-mainContainer {

		// 顶部信息
		.blockReference-topContainer{  

			.blockReference-topContainer-rightPageContainer { 
				gap: 16px;

				.ReferpageOne { //页面
					border-radius: 12px;
					width: 250px;
					margin-bottom: 48px;
					scale: 0.95;
				}

				.ReferpageTwo { //页面
					border-radius: 12px;
					width: 250px;
					margin-top: 48px;
					scale: 0.95;
				}
			}
		}

		// 底部信息
		.blockReference-bottomContainer { 

			.blockReference-bottomContainer-leftPageContainer {
				width: 1160px; 

				.ReferpageThree {//页面
					width: 480px;
					z-index: 5;
				}
			}

			.blockReference-topContainer-bottomRightInfo {  

				.blockReference-bottomRightInfo-graphic { 
					scale: 0.75;
					transform: translate(-82px);

					// 底部图形描述 1
					.blockReference-bottomRightInfo-topGroup { 

						.blockReference-bottomRightInfo-circle { //胶囊
							width: 192px; 
						} 
					}

					// 底部图形描述 2
					.blockReference-bottomRightInfo-bottomGroup { 

						.blockReference-bottomRightInfo-circle { //胶囊
							width: 192px; 
						} 
					}
				}
			}
		} 
	}
}


@media screen and (max-width: 1110px) {	
	.blockReference-mainContainer {

		// 顶部信息
		.blockReference-topContainer{ 

			.blockReference-topContainer-rightPageContainer { 
				gap: 16px;

				.ReferpageOne { //页面 
					scale: 0.95;
				}

				.ReferpageTwo { //页面
					scale: 0.95;
				}
			}
		}

		// 底部信息
		.blockReference-bottomContainer { 

			.blockReference-bottomContainer-leftPageContainer {
				width: 1160px; 

				.ReferpageThree {//页面
					width: 480px;
					z-index: 5;
				}
			}

			.blockReference-topContainer-bottomRightInfo { 

				.blockReference-bottomRightInfo-des {
					width: 100%;
				}

				.blockReference-bottomRightInfo-graphic { 
					scale: 0.75;
					transform: translate(-82px); 

					// 底部图形描述 1
					.blockReference-bottomRightInfo-topGroup {
						display: none;
					}

					// 底部图形描述 2
					.blockReference-bottomRightInfo-bottomGroup { 
						display: none;
					}
				}
			}
		} 
	}
}


@media screen and (max-width: 1000px) {	
	.blockReference-mainContainer {

		// 顶部信息
		.blockReference-topContainer{
			flex-direction: column;
			gap: 8px;

			.blockReference-topContainer-rightPageContainer { 
				gap: 16px;
				transform: translateX(-16px);

				.ReferpageOne { //页面
					border-radius: 12px;
					width: 50%;
					scale: 0.95;
				}

				.ReferpageTwo { //页面
					border-radius: 12px;
					width: 50%;
					scale: 0.95;
				}
			}
		}

		// 底部信息
		.blockReference-bottomContainer {
			flex-direction: column-reverse;
			gap: 8px;

			.blockReference-bottomContainer-leftPageContainer {
				width: 100%; 
				// transform: translate(82px);

				.ReferpageThree {//页面
					width: 100%;
				}
			}
		} 
	}
}


@media screen and (max-width: 520px) {	
	.blockReference-mainContainer {
		margin-top: -100px;

		// 顶部信息
		.blockReference-topContainer{
			flex-direction: column;
			gap: 24px;
			padding: 0px;

			.blockReference-topContainer-leftInfoContainer {
				.blockReference-topLeftInfo-title {
					font-size: 24px;
				}
			}

			.blockReference-topContainer-rightPageContainer { 
				gap: 16px;
				transform: translateX(-16px);

				.ReferpageOne { //页面
					border-radius: 7px;
					scale: 0.95;
				}

				.ReferpageTwo { //页面
					border-radius: 7px;
					scale: 0.95;
				}
			}
		}

		// 底部信息
		.blockReference-bottomContainer {
			flex-direction: column-reverse;
			padding: 0px;

			.blockReference-bottomContainer-leftPageContainer {
				width: 100%; 
				// transform: translate(82px);

				.ReferpageThree {//页面
					width: 100%;
					z-index: 5;
				}
			}

			.blockReference-topContainer-bottomRightInfo { 	
				.blockReference-bottomRightInfo-title {
					font-size: 24px;
				}
			}
		} 
	}
}


@media screen and (max-width: @mediaWidth-Iphone) {	
	.blockReference-mainContainer {
		margin-top: -460px;

		// 顶部信息
		.blockReference-topContainer{

			.blockReference-topContainer-rightPageContainer {
				width: 268px;
				gap: 8px;
				transform: translateX(-12px);

				.ReferpageOne { //页面
					border-radius: 5px;
					scale: 0.95;
				}

				.ReferpageTwo { //页面
					border-radius: 5px;
					scale: 0.95;
				}
			}
		}

		// 底部信息
		.blockReference-bottomContainer {

			.blockReference-bottomContainer-leftPageContainer {
				width: 100%; 

				.ReferpageThree {//页面
					width: 260px;
					z-index: 5;
				}
			}

		} 
	}
}